@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


body {
  background-color: #edf1f1; 
  min-height: 100vh;          
  margin: 0;                 
  
}